.search-container input {
  height: 42px;
  width: 100%;
  border-radius: 50px;
  background-color: white;
  border: 1px solid beige;
  font-size: 0.9em;
  color: black;
  padding: 0 32px 0 44px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  outline: none;
}

.search-container::placeholder {
  color: beige;
}

.search-container button {
  display: none;
}
