/*================================== Menu ==================================*/
.navigation {
  background-color: beige;
  width: 100%;
  padding: 5px 16px;
  border-bottom: 1px solid rgba(236, 239, 241, 0.5);
}

.navigation-list .link-active {
  font-weight: 700;
  color: red;
}

.navigation ul {
  list-style: none;
}

.navigation ul a {
  text-decoration: none;
  font-size: 0.9em;
  color: #253238;
  font-weight: 400;
  transition: all 0.3s ease;
}

.navigation ul .search-container {
  flex-basis: 350px;
}

.navigation-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.brand-img {
  width: 200px;
  text-align: left;
  margin-right: 20px;
}

.navigation-list .navigation-options-container {
  display: flex;
  flex-flow: row wrap;
  margin: 0 20px;
}

.navigation-list .navigation-options-container div {
  padding: 10px;
}

.navigation-list .navigation-buttons {
  display: flex;
  flex-flow: row;
}

.navigation-list .navigation-buttons div {
  padding: 10px;
}

.navigation .navigation-list span {
  font-weight: 700;
  padding-left: 5px;
}

.navigation .navigation-list {
  display: flex;
  align-items: center;
}

.navigation .navigation-list .navigation-icon-svg {
  height: 20px;
  vertical-align: middle;
  position: relative;
  margin-right: 10px;
}

.navigation .navigation-buttons {
  margin: 10px;
}

/*================================== Media ==================================*/
@media only screen and (max-width: 600px) {
  .navigation-list {
    flex-flow: column wrap;
  }

  .navigation-list .navigation-buttons {
    display: flex;
    flex-flow: column;
  }

  .navigation ul .search-container {
    flex-basis: 0px;
    display: block;
    width: 100%;
  }

  .navigation-options-container {
    display: block;
    width: 100%;
    text-align: center;
  }

  .navigation-buttons,
  .login-button,
  .load-product-button {
    display: block;
    width: 100%;
    text-align: center;
  }
}
